
<p><a href="/grocery_list/need">Get Shopping List</a>

{% if item_list %}
    <p>Fruits and Vegetables</p>
        {% for veg in produce_items %} 
    <ul>
        <li>{{ veg }} {{ veg.status }}</li>
    </ul>
        {% endfor %}

    <p>Packaged Goods</p>
        {% for pack in p_goods %}
    <ul>
        <li>{{ pack }} {{ pack.status }}</li>
    </ul>
        {% endfor %} 

    <p>Bulk Items</p>
        {% for b in bulk %}
    <ul>
        <li>{{ b }} {{ b.status }}</li>
    </ul>
        {% endfor %}

    <p>Meat and Fish</p>
        {% for m in meat_items %}
    <ul>
        <li>{{ m }} {{ m.status }}</li>
    </ul>
        {% endfor %}

 {% else %}
    <p> The list is not available.</p>
{% endif %}

